.product-page {
  padding: 20px;
  background: radial-gradient(circle, #1c1c1c, #0a0a0a); /* Dark glowing background */
  color: #ffff66;
  min-height: 100vh;
}

.product-title {
  font-size: 36px;
  color: #000000; 
}
.product.description {
  font-size: 20px; 
  color: #160b0b; 
  line-height: 1.5; 
  padding: 10px; 
  background-color: rgba(0, 0, 0, 0.7); 
  border-radius: 5px; 
}


.product-page-container {
  background-color: rgba(0, 0, 0, 0.9); 
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 800px; 
}

.product-price {
  font-size: 24px;
  color: #000000;
}

.product-page img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px 0px #ffcc00; 
}

button {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-to-cart-button,
.go-back-button {
  margin: 10px; 
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #218838; 
}

button:hover {
  background-color: black;
  color: yellow;
}

.go-back-button {
  background-color: #007bff; 
  color: white;
}

.go-back-button:hover {
  background-color: #0056b3; 
}
