.header {
    background: linear-gradient(to right, #ffcc00, #333);
    color: #ec252552;
    padding: 20px;
    text-align: center;
  }
  
  .header nav {
    margin-top: 10px;
  }
  
  .header a {
    color: #ffffffa8;
    margin: 0 15px;
    text-decoration: none;
  }
  