body {
  background-image: url('/public/background-image.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white; 
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

@media screen and (max-width: 768px) {
  body {
    background-size: contain; 
  }

  .product-page-container {
    padding: 10px;
  }
}


.container {
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 1200px;
}

button {
  background-color: rgb(0, 255, 221);
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: black;
  color: rgb(228, 213, 10);
}

h1, h2, h3 {
  font-weight: bold;
  color: rgb(0, 255, 255);
  text-align: center;
}

p {
  color: lightgray;
  font-size: 1.1em;
  line-height: 1.6em;
}

@media screen and (max-width: 768px) {
  body {
    background-size: contain; 
  }

  .container {
    padding: 10px;
  }
}
